body
{
    background-image: url('background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#background-roleta
{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#spin-win
{
    position: absolute;
    width: 80%;
}
#roleta
{
    width: 480px;
    height: 480px;
    margin-top: -55px;
    position: absolute;

    
}
#girar
{
    position: absolute; 
    margin-top: -60px; 
    margin-left: 10px;
    font-weight: 700; 
    font-size: 18pt;
    
}
#spin
{
    margin-top: -55px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0, 0);
    border: none;
    background-image: url('button.svg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;

}
#spin:hover
{
    transform: rotate(40deg);
    transition: transform 0.3s linear;

}
#contador
{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(0,0,0, 0);
    border: none;
}
#img-roleta
{
    content:url("background-roleta-lg.png");
}
.text {
    color: yellow;
    text-shadow: 4px 4px 4px rgba(255, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.5rem;
}
@media only screen and (max-width: 800px) {

    #roleta
    {
        width: 78%;
        height: 78vw;
        margin-top: -8%;
        /* offset-anchor: -50px; */
    }


    #spin
    {
        margin-top: -6%;
        width: 30%;
        height: 30vw;
    }

    #girar
    {
        font-size:4vw;
        margin-top: -30px;
        margin-left: 5px;
        font-weight: 800;
    }

    #parabens
    {
        width: 80%;
    }
    #img-roleta
    {
        width: 100%;
        content:url("background-roleta.png");
    }
    #decisao-magico
    {
       
        /* margin-top: 10px;
        color: red !important; */
    }
    
  }